.register {
  width: 350px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -165px;
  background: rgba(255, 255, 255, 0.192);
  h1 {
    text-align: center;
    margin: 0;
  }
  .form {
    width: 350px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    label {
      margin: 16px 0 0 0;
      a {
        margin-left: 10px;
        line-height: 30px;
      }
    }
  }
}

.login {
  width: 350px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -165px;
  background: rgba(255, 255, 255, 0.192);
  h1 {
    text-align: center;
    margin: 0;
  }
  .form {
    width: 350px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    label {
      margin: 16px 0 0 0;
      a {
        margin-left: 10px;
        line-height: 30px;
      }
    }
  }
}

label {
  display: block;
}

//home的高 生命周期内容的高
.ant-collapse {
  padding: 0 0 261px !important;
}
